body {
  font-family: Helvetica, Arial, sans-serif;
}

#image-container {
  display: block;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 2px solid black;
  margin: 10px;
  padding: 3px;
}

#countDown {
  font-weight: 800;
  font-size: 48px;
  cursor: pointer;
  display: inline-block;
  width: auto;
  text-align: center;
}

#startGame {
}

#playerSelection {
  width: 100%;
  float: left;
}

#gameSetup {
  width: 100%;
  display: block;
  float: left;
}

.controls span {
  font-weight: 600;
}

.scoreBox {
  width: 200px;
  z-index: 24071991;
  text-align: center;
}

#zonePlayer1 {
  display: inline-block;
  float: left;
}

#zonePlayer2 {
  display: inline-block;
  float: right;
}

.playerHighlighted {
  background-color: black;
  color: #FFFFFF;
}

.container {
  width: 100%;
  display: inline-block;
  margin: auto;
  text-align: center;
}

.controls {
  position: absolute;
  top: 10;
  left: 10;
  text-align: left;
  border: 2px solid black;
  width: 300px;
  display: block;
  padding: 10px;
  height: 230px;
}



#displayedImg {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  width: auto;
}



.playerName {
  font-weight: 800;
  font-size: 32px;
}

#scorePlayer1, #scorePlayer2 {
  font-size: 48px;
}
